h1,.details {
    margin-top: 0;
    margin-bottom: 0;
}

header {
    background-image: url(../img/pattern.png);
    background-size: cover;
    background-size: 35%;
    height: 80px;
    position: relative;
    background-color: rgb(3, 70, 158);
}

.logo {
    height: 50px;
    position: absolute;
    bottom: 0;
}

h1 {
    font-size: 35px;
    margin-top: 5px;
}

.details {
    color: gray;
}

#the_booleaner {
    color: rgb(2, 201, 201);
}

#date {
    font-size: 12px;
}

figure {
    margin-left: 5px;
}

figcaption {
    font-size: 10px;
}

.highlight {
    background-color: yellow;
}

table {
    text-align: left;
    border-spacing: 0;
}

td {
    width: 500px;
}

thead {
    background-color: rgb(8, 134, 134);
    color: white;
}

.blue_row {
    background-color: aqua;
}

#monitor {
    background-image: url(../img/monitor.jpg);
    
}

#graph {
    background-image: url(../img/graph.jpg);
}

.footer_images {
    height: 208px;
    width: 250px;
    margin-top: 10px;
}

.text_over_image {
    font-size: 25px;
    color: white;
    margin-left: 10px;
    font-weight: bold;
}