h1,.details {
    margin-top: 0;
    margin-bottom: 0;
}

header {
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-repeat: space;
    height: 80px;
    position: relative;
}

.logo {
    height: 50px;
    position: absolute;
    bottom: 0;
}

h1 {
    font-size: 35px;
    margin-top: 5px;
}

.details {
    color: gray;
}

#the_booleaner {
    color: rgb(2, 201, 201);
}

#date {
    font-size: 15px;
}

figure {
    margin-left: 5px;
}

figcaption {
    font-size: 10px;
}

.highlight {
    background-color: yellow;
}

ul {
    padding-left: 15px;
}